body {
  /*background-color: chartreuse;*/
}

div.container {
  display: flex;
  justify-content: center;
  /*background-color: aqua;*/
  width: auto;
  height: 100%;
}

div.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 3);
  height: auto;
  /*background-color: bisque;*/
}

div.form > * {
  margin: 5px auto;
}
